@charset "utf-8";
html {
  background-color: rgb(128, 128, 128);
}

#one > a > img{
  width: 25%;
  margin-left: 25em;
}

#two > label > img{
  width: 2.5%;
  background-color: rgb(233, 217, 217);
}

header div#two{
  text-align: right;
}

body {
	margin: 0px auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
  min-height: 100%;
}

body {
  background-color: rgb(122, 171, 167);
}

.list > ul > li > a {
  background: linear-gradient(to right bottom,white,grey);
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
}  

.list > ul > li > a:link, 
.list > ul > li > a:visited {
  color: black;
}

.list > ul > li > a:hover, 
.list > ul > li > a:active {
  background:cyan;
}   

.list > ul > li {
  display: block;
  float: left;
  width: 9.9%;
}

#f1, #f2{
  text-align: center;
}


#inform > img {
  margin-left: 3%;
  margin-right: 2%;
  float: left;
  width: 35%;
}

#inform > p {
  margin-top: 10px;
  font-size: 1.4em;
  width: 60%;
  float: right;
}

#inform > a > input {
  width: 20%;
  padding: 10px;
}

#inform > h1 {
  font-size: 3em;
}

#pic > img {
  display: block;
  margin-top: 20%;
  margin-left: 5%;
}

#detail {
  margin-left: 5%;
  margin-bottom: 10%;
  width: 45%;
  float: left;
  font-size: 1.1em;
}

#detail2 {
  margin-right: 5%;
  margin-bottom: 10%;
  width: 45%;
  float: right;
  font-size: 1.1em;
}

#inform > p {
  font-size: 2.5em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
