@charset "utf-8";
html {
  background-color: rgb(128, 128, 128);
}

#one > a > img{
  width: 25%;
  margin-left: 25em;
}

#two > label > img{
  width: 2.5%;
  background-color: rgb(233, 217, 217);
}

header div#two{
  text-align: right;
}

body {
	margin: 0px auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
  min-height: 100%;
}

body {
  background-color: rgb(7, 53, 123)
}

.list > ul > li > a {
  background: linear-gradient(to right bottom,white,grey);
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
}  

.list > ul > li > a:link, 
.list > ul > li > a:visited {
  color: black;
}

.list > ul > li > a:hover, 
.list > ul > li > a:active {
  background: cyan;
}   

.list > ul > li{
  display: block;
  float: left;
  width: 9.9%;
}

#f1, #f2 {
  text-align: center;
  color: white;
}

.kingstone {
    float: left;
    margin-left: 16%;
    margin-right: 4%;
    margin-bottom: 10%;
    width: 30%;
    border:  solid black;
}

.corsair{
    float: right;
    margin-right: 16%;
    margin-bottom: 10%;
    width: 30%;
    border:  solid black;;
}

h2 {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
}

#inform > img {
   margin-left: 2%;
   margin-right: 2%;
   float: left;
   width: 30%;
}

#inform {
  margin-bottom: 3%;
}

input[type="button"] {
   height: 50px;
   width: 200px;
}

#price {
   color:rgb(232, 202, 5);
   font-size: 1.5em;
}

#choose > label {
  font-size: 1.4em;
  margin-right: 1%;
}

#choose2 > label {
  font-size: 1.4em;
  margin-right: 1%;
  margin-left: 34%;
  color: white;
}

#choose > label {
  color: white;
}

#choose > select, #choose2 > select {
  font-size: 1em;
  margin-bottom: 2%;
}

#detail {
  margin-left: 25px;
  margin-top: 15%;
} 

#cart2 {
  margin-left: 34%;
}

h1, p ,li {
  color: white;
}

#f1 > a, #f2 > p > a {
   color: cyan;
}

#detail > h1 {
  color:deepskyblue
}